*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
  background-color: black;
  color: white;
}
.main{
	max-width: 500px;
	min-height: 50vh;
	margin:  100px auto;
	padding: 30px;
	background-color: rgb(25, 114, 169);
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(17, 220, 6, 0.1);
	text-align: center;
}
.main h2{
	margin: 10px 0px;
	font-family: inherit;
  background-color: lightgreen;
}
.in-data{
	width: 45%;
  background-color: grey;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin: 3px;

}
button{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px 20px;
	background: blue;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}
button:hover{
	background-color: green;
}
label{
	width: 100px;
	display: inline;
	font-weight: bold;
}
.result{
  border-radius: 10px;
  background-color: azure;
}
.result label{
  padding: 3px;
  background-color: gray;
}
.text{
  background-color: grey;
	width: 150px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	margin: 6px;
	font-size: 16ox;
}